extend layout
block head
    link(rel='stylesheet', href='/public/css/error.css')
block content
    .errorMessage.panel.panel-danger
        if status === '404'
            .panel-heading 
                p Error: 404
                p Sorry, that page doesn't exist.
        else
            .panel-heading Error: #{status}
                br
                | Sorry, something went wrong.