extend layout
block content
    h3 Login with one of the following accounts:
    a.btn.btn-primary(href="/auth/facebook")
        span.fa.fa-facebook 
        | Facebook
    a.btn.btn-info(href="/auth/twitter")
        span.fa.fa-twitter 
        | Twitter
    a.btn.btn-danger(href="/auth/google")
        span.fa.fa-google
        | Google