extend layout
block head
    link(rel='stylesheet', href='/public/css/my-polls.css')
block content
    .row
        .col-sm-3
        .col-sm-6
            h2 My Polls
            if (polls.length === 0) 
                p.no-polls.alert.alert-danger.text-center
                    | You have no polls to display. 
                    br
                    | Why don't you 
                    a(href="/createpoll").alert-link create one
                    | ?
            ul.allpolls.list-group
                each poll in polls   
                    li.list-group-item.row(id=poll._id)
                        a.btn.col-xs-11.pollLink(href=poll.url)= poll.question
                        .col-xs-1
                            .btn.btn-default.delete(id=poll._id)
                                span.fa.fa-trash.text-danger(data-toggle="tooltip" title="Delete poll")
        .col-sm-3
        
    script(type="text/javascript" src="common/ajax-functions.js")
    script(type="text/javascript" src="controllers/controller.client.js")