extend layout
block head
    link(rel='stylesheet', href='/public/css/my-polls.css')
block content
    h2 Here are the polls you've created:
    if (polls.length === 0) 
        .no-polls.alert.alert-danger.text-center
            p You have no polls to display. 
            p Why don't you 
                a(href="/createpoll").alert-link create one
                | ?
    ul.allpolls.list-group
        each poll in polls
            li.list-group-item(id=poll._id).row
                .col-sm-7.col
                    p= poll.question
                .col-sm-5.col
                    .buttons
                        a.btn.btn-primary(href='/results/'+poll.url) View Results
                        a.btn.btn-info(href='/polls/'+poll.url) View Poll
                        .btn.btn-danger.delete(id=poll._id data-toggle="tooltip" title="Delete poll")
                            span.fa.fa-trash
        
    script(type="text/javascript" src="common/ajax-functions.js")
    script(type="text/javascript" src="controllers/controller.client.js")