li
  a(href='/createpoll' class=page=='createpoll' ? 'active' : '') Create Poll
li
  a(href='/mypolls' class=page=='mypolls' ? 'active' : '') My Polls
li.dropdown
  a(href='#' data-toggle='dropdown')
    span.fa.fa-user
    | #{user.displayName} 
    span.caret
  ul.dropdown-menu
    li
      a(href="/logout") Logout