extend layout
block head
    link(rel='stylesheet', href='/public/css/view-results.css')
block content
    h1= poll.question
    p.author Created by #{poll.creator.displayName}
    
    div.canvas
        canvas#resultsChart

    input#pollData(type="hidden" value=JSON.stringify(poll))
    
    script(src="../../node_modules/chart.js/dist/Chart.bundle.js")
    script(type="text/javascript" src="../controllers/chart-controller.js")
