#content {
    text-align: center;
    width: 65%;
    margin: 3% auto 5% auto;
}

#content h2 {
    margin-bottom: 3%;
}

.list-group {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.list-group-item {
    padding-top: 1em;
    padding-bottom: 1em;
}

.pageControls {
    text-align: center;
    margin-top: 5%;
}

.disabled {
    pointer-events: none;
}

.info {
    display: none;
}

@media (max-width: 600px) {
    #content {
        width: 90%;
        margin: 2% auto 5% auto;
    }
    #content h2 {
        font-size: 1.6em;
        margin-bottom: 6%;
    }
    .list-group {
        padding: 4%;
    }
}