#content {
    text-align: center;
    width: 65%;
    margin: 3% auto 5% auto;
}

#content h2 {
    margin-bottom: 3%;
}

.list-group {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.list-group-item {
    padding-top: 1em;
    padding-bottom: 1em;
}

.pageControls {
    text-align: center;
    margin-top: 5%;
}

.disabled {
    pointer-events: none;
}

.page-info {
    display: none;
}

.no-polls {
     font-size: 1.2em;
     margin-top: 3%;
     padding: 3%;
}

.no-polls p {
    padding: 0.5%;
}

@media (max-width: 600px) {
    #content {
        width: 90%;
        margin: 2% auto 5% auto;
    }
    #content h2 {
        font-size: 1.6em;
        margin-bottom: 6%;
    }
    .list-group {
        padding: 4%;
    }
    .list-group-item p {
        text-align: center;
    }
    .no-polls {
        margin-top: 10%;
        padding: 8%;
        width: 90%;
        margin: 3% auto;
    }
}

@media (min-width: 1700px) {
    .no-polls {
        font-size: 1.5em;
    }
}
