#content {
    margin: 5% 15% 5% 15%;
}

#content h2 {
    text-align: center;
    margin-bottom: 1.5em;
}

#question {
    margin-bottom: 4%;
}

.answers {
    margin-bottom: 1%;
}

.newPollForm .btn {
    display: block;
}

.submit {
    margin: auto;
    margin-top: 3%;
    width: 200px;
}

.newPollForm .btn .fa {
    padding-right: 0.5em;
}

.successMessage {
    text-align: center;
    font-size: 1.5em;
    margin: 0 auto;
    padding: 5%;
    width: 60%;
}

.p1 {
    margin: 0;
    margin-bottom: 10%;
    font-size: 1.2em;
}

.p2 {
    margin: 0;
    margin-bottom: 2%;
}

.successMessage a {
    word-break: break-all;
}