.panel {
	width: 60%;
	margin: auto;
	margin-top: 5%;
	text-align: center;
	font-size: 1.7em;
}

.panel-heading {
	padding-top: 5%;
	padding-bottom: 5%;
}

@media (max-width: 600px) {
	.panel {
		font-size: 1.4em;
	}
}

@media (orientation: portrait) {
	.panel{
		margin-top: 10%;
	}
}