#content {
    margin: 4% 10%;
    text-align: center;
}

.signins {
    margin-top: 4%;
    margin-bottom: 10%;
}

.signins .btn {
    display: block;
    width: 200px;
    margin: 1.5% auto;
    text-align: left;
}

.signins .fa {
    padding-right: 20px;
}

.getaccount ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (max-width: 550px) {
    .signins {
        margin-top: 8%;
        margin-bottom: 20%;
    }
    .signins .btn {
        margin: 6% auto;
    }	
}