#content {
    margin: 3% 25% 3% 25%;
    text-align: center;
}

#content h2  {
    margin-bottom: 5%;
}

.row {
    padding: 1% 0 1% 2%;
}

.col {
    padding: 0;
}

.list-group-item:hover {
    background-color: #ddd;
}

.list-group-item p {
    text-align: left;
    padding: 1% 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.buttons .btn {
    margin: 0.5% 1%;
}

.delete {
    font-size: 1.2em;
}

.no-polls {
     font-size: 1.2em;
     margin-top: 3%;
     padding: 4%;
}

.no-polls p {
    padding: 0.5%;
}

@media (max-width: 550px) {
    #content h2  {
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 7%;
    }
}

@media (max-width: 1100px) {
    #content {
        margin: 5% 13% 10% 13%;
    }
}

@media (max-width: 767px) {
    .list-group-item p {
        text-align: center;
    }
    .no-polls {
        margin-top: 10%;
        padding: 8%;
    }
}

@media (min-width: 1700px) {
    .no-polls {
        font-size: 1.5em;
    }
}