#content {
    margin: 3% 25% 3% 25%;
    text-align: center;
}

#content h2  {
    margin-bottom: 5%;
}

.list-group-item {
    text-align: right;
}

.pollLink {
    padding: 2% 3%;
    color: #222;
    white-space: normal;
}

.pollLink:hover {
    background-color: #dfe3ff;
}

.list-group-item p {
    float: left;
    padding: 1.5% 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.buttons .btn {
    margin-left: 1%;
}

.delete {
    font-size: 1.2em;
}

.no-polls {
     line-height: 200%;
}