#content {
    margin: 3% 25% 3% 25%;
    text-align: center;
}

#content h2  {
    margin-bottom: 5%;
}

.row {
    padding: 1% 0 1% 2%;
}

.col-sm-5, .col-sm-7 {
    padding: 0;
}

.list-group-item p {
    text-align: left;
    padding: 1% 2%;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.buttons .btn {
    margin: 0.5% 1%;
}

.delete {
    font-size: 1.2em;
}

.no-polls {
     line-height: 200%;
}